.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  font-size: larger;
}

.correct {
  background-color: rgb(56, 189, 56);
  color: white;
  animation: blinker 1s linear infinite;
}

.incorrect {
  background-color: red;
  color: white;
  animation: blinker 1s linear infinite;
}

.blinking {
  animation: blinker 1s linear infinite;
  border-radius: 20px;
  padding: .6em;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}